.row
	.large-4.large-offset-4.columns.text-center
		.dabi dabi
.row
	- (1..5).each do |i|
		.small-2.columns.dabi
			= link_to "#{i}", "/dabi/#{i}" 
.row
	.large-4.large-offset-4.columns.text-center
		= surround 'back to ', '' do
			= link_to 'faivus', root_path